---
layout: default
---
<div class="event_headline">
	<div class="container">
		<div class="row headline">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
				<h1>ProductCamp CLT will take place on</h1>
				<h2>Saturday, June 21st <span>in</span> Uptown, Charlotte</h2>
			</div>
		</div>
	</div>
</div>

<div id="map_canvas"></div>
<div class="event">
	<div class="container">
		
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
				<h4>Location</h4>
				<p><a href="http://www.skookum.com">Skookum Digital Works</a> will be our gracious hosts for the event. Their office is located on the corner of 4th and Tryon &mdash; it's the top floor of the building with the Dean & Deluca. </p>
				<h4>Address</h4>
				<ul class="list-unstyled">
					<li>Skookum Digital Works</li>
					<li>201 S. Tryon Street, 15th floor</li>
					<li>Charlotte, NC 28202</li>
					<li><a href="https://goo.gl/maps/ll96z">Get Directions</a></li>
				</ul>
				
				<h4>Parking</h4>
				<p>There is ample weekend parking in the lots and garages located near the building. Since this is a free event, we aren't able to cover parking costs for attendees.</p>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h4>Time & Date</h4>
				<ul class="list-unstyled">
					<li>Saturday, June 21st</li>
					<li>8:30am - 4:00PM EDT</li>
				</ul>
				<h4>Schedule</h4>
				<table class="table table-condensed table-hover">
					<tbody>
						<tr><td>8:30am </td><td>Registration</td></tr>
						<tr><td>9:00am </td><td>Opening Remarks & Session Voting</td></tr>
						<tr><td>10:00am</td><td> Morning Sessions</td></tr>
						<tr><td>12:00pm</td><td> Lunch</td></tr>
						<tr><td>1:30pm </td><td>Afternoon Sessions</td></tr>
						<tr><td>3:30pm </td><td>Closing Remarks</td></tr>
						<tr><td>4:00pm </td><td>Happy Hour...</td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% include register_cta.html %}
{% include footer.html %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/js/map.js"></script>



