---
layout: default
---
 
{% include hero.html %}
<div class="gray">
<div class="container spread">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<h2>What is ProductCamp CLT?</h2>
			<h4>ProductCamp CLT is Charlotte's Premier Event for Product Strategy Professionals</h4>
   			<p>ProductCamp is a global "unconference" series for Product Managers and Product Marketers, and we’re bringing one to Charlotte for the very first time this summer. It will be the premier gathering of product professionals in the area, bringing together a diverse crowd from all areas of product strategy to learn from one another and share experiences.  </p>
   			<h4>What's an unconference?</h4>
   			<p>Rather than having pre-scheduled speakers, anyone who is interested in leading a session can pitch a proposal. The attendees then vote for their favorite topics and we schedule the sessions based on the voting. The sessions are highly interactive and participatory, ranging from round-table discussions or workshops to the standard 1-person presentations. <a href="/about.html">Learn more about the different types of sessions.</a></p>
   			<h4>Sound interesting?</h4>
   			<p>Read on to get the full scoop on <a href="/about">session topics, the history of ProductCamp, the two-foot rule and more.</a> 
   		</div>
   	</div>
</div>
</div>


<div class="container when spread">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h5>When</h5>
				<h2>Saturday, June 21st</h2>
				<ul class="list-unstyled">
					<li>9:00am to 4:00pm EDT</li>
					<li><i>Registration opens at 8:30am</i></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-phone">
			<h2>
				<span class="fa-stack fa-lg">
  					<i class="fa fa-circle fa-stack-2x"></i>
  					<i class="fa fa-calendar fa-inverse fa-stack-1x"></i>
				</span>
				<span class="fa-stack fa-lg">
  					<i class="fa fa-circle fa-stack-2x"></i>
  					<i class="fa fa-map-marker fa-inverse fa-stack-1x"></i>
				</span>

			</h2>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h5>Where</h5>
				<h2>Uptown, Charlotte</h2>
				<ul class="list-unstyled">
					<li>Skookum Digital Works</li>
					<li>201 S. Tryon Street, 15th floor</li>
					<li>Charlotte, NC 28202</li>
				</ul>
			</div>
			
		</div>
</div>



{% include plax-temp.html %}
{% include why_pcamp.html %}
{% include register_cta.html %}
{% include footer.html %}




