<div id="cta_banner">
	<div class="container">
		<div class="row">

			<h2>Stay up to date with the latest details.</h2>

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<a class="cta-button" href="#signup">Subscribe by email</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<a class="cta-button" href="http://www.meetup.com/productcampclt">Join the Meetup</a>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<a class="cta-button" href="https://twitter.com/productcampclt">Follow us @PCampCLT</a>
			</div>
			
		</div>
	</div><!-- end container -->
</div><!-- end signup -->
