<footer>
	<div class="container">
		<div class="row logo">
			<div class="col-lg-6 col-md-7 col-sm-8 col-xs-12">
				<img src="/images/ProductCamp-Logo.png" class="img-responsive">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<h3>Get in Touch</h3>
				<p> Questions, concerns, suggestions? Just want to grab a coffee and learn more about Charlotte's product community? Drop us a line at <a href="mailto:info@productcampclt.org">info@productcampclt.org</a>.
				<h3>Leadership Team</h3>
				<p> ProductCamp CLT is proudly put on by <a href="http://www.databoxdigital.com/about">Chris</a>, <a href="http://twitter.com/assafweinberg">Assaf</a>, and <a href="http://twitter.com/triciacervenan">Tricia</a>. Interested in volunteering? Hit us up: <a href="mailto:volunteers@productcampclt.org">volunteers@productcampclt.org</a>.
			</div>
			<div class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
			<h3>Stay Connected</h3>
				<ul class="list-inline social-icons ">
					<li><a href="http://www.twitter.com/productcampclt"><i class="fa fa-twitter-square"></i></a></li>
					<li><a href="http://bit.ly/productcampclt"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a href="http://www.meetup.com/productcampclt" class="meetup"></a></li>
					<li><a href="http://eepurl.com/QS4qP"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p class="copyright">&copy; ProductCamp CLT 2014. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/about">About</a>
				| <a href="/event">Event Info</a>
				| <a href="/sponsors">Sponsors</a>

				</p>

			</div>
		</div>
	</div>
</footer>