<div id="get_involved">
		<div class="container">
		<h2>How Can I Get Involved?</h2>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					
					<h3>Join the Leadership Team</h3>
					<img class="img img-rounded img-responsive" src="/images/model-020.jpg">
					<p>Make ProductCamp CLT come to life. We're looking for a few great people to join the leadership team. Can you make meaningful contributions to marketing, operations or sponsor outreach? <a href="mailto:info@productcampclt.org">Get in touch</a>.</p>
					
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h3>Become a Volunteer</h3>
					<img class="img img-rounded img-responsive" src="/images/model-006.jpg">
					<p>Volunteers are the lifeblood of ProductCamp. From set-up and tear-down to manning registration booths, there are countless ways you can help both large and small. <a href="mailto:info@productcampclt.org">Let us know if you're interested</a>.
					</p>
					
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h3>Sponsor the Event</h3>
					<img class="img img-rounded img-responsive " src="/images/model-021.jpg">
					<p>We can't offer a great conference for free without the generous support of our sponsors. Get in front of the region's smartest group by sponsoring or offering in-kind donations. <a href="mailto:info@productcampclt.org">Reach out to learn more</a>.
					
				</div>
			</div>
		</div>
</div>