<div id="get_involved">
		<div class="container">
		<h2>How Can I Get Involved?</h2>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					
					<h3>Join the Leadership Team</h3>
					<img class="img img-rounded img-responsive" src="/images/model-020.jpg">
					<p>Help make ProductCamp CLT come to life. Were looking for a few great people to join the leadership team. If you can contribute a meaningful amount of time to marketing, operations or sponsor outreach, please <a href="mailto:info@productcampclt.org">get in touch.</a></p>
					
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h3>Become a Volunteer</h3>
					<img class="img img-rounded img-responsive" src="/images/model-006.jpg">
					<p>Volunteers are the lifeblood of ProductCamp. From set-up and tear-down to manning registration booths, there are countless ways you can help both large and small. Please reach out to <a href="mailto:info@productcampclt.org">info@productcampclt.org</a> if you're interested.
					</p>
					
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<h3>Sponsor the Event</h3>
					<img class="img img-rounded img-responsive " src="/images/model-021.jpg">
					<p>We can't offer a great conference for free without the generous support of our sponsors. If you're interested in sponsoring or offering in-kind donations, please reach out to <a href="mailto:info@productcampclt.org">info@productcampclt.org</a>.
					
				</div>
			</div>
		</div>
</div>