	<!-- mainImage -->
 	<div id="hero">
 		<div class="container">
 			<div class="row">
				<div class="col-lg-7 col-md-8 col-sm-9 col-xs-12">
					<div class="cont-wrapper">
						<h2 class="intro">The Queen City Unconference for Product Managers &amp; Marketers</h2>
						<div class="intro">
						<p>ProductCamp is a free, one-day conference for anyone interested in designing, building, launching and marketing great products.</p>
						<p>It's collaborative and participant-driven. That means no set agenda and no sales pitches; just a great opportunity to interact with the region's best and brightest on product strategy. </p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cta" id="signup">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
						<h3>June 21st in Uptown, Charlotte. </h3>
					</div>
					<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
						<a class="btn-db btn-eventbrite" href="https://productcampclt.eventbrite.com">Register Now</a>
					</div>	

						<!-- Begin MailChimp Signup Form 
						<div id="mc_embed_signup" class="clearfix">
							<form action="http://productcampclt.us3.list-manage1.com/subscribe/post?u=87cea59bc5f50d71790ee1555&amp;id=90be92efb0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
								
								<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
    							<! real people should not fill this in and expect good 	things - do not remove this or risk form bot signups--><!--
   								<div style="position: absolute; left: -5000px;">
   									<input type="text" name="b_87cea59bc5f50d71790ee1555_90be92efb0" value="">
   								</div>
    						
								<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn btn-db">
							
							</form>
						</div>
						<!End mc_embed_signup-->
					</div>
				</div>
			</div>
		</div>
	</div>