<div id="parallax" data-speed="5" class="hidden-sm hidden-xs">
	<div class="container">
	 	<div class="row">
	 		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h2>&ldquo;ProductCamp is hands down the best place to learn from peers in your area.&rdquo;</h2>
				<p>-Darren Mauro, VP of Product Management @ CustomInk</p>
	 		</div>
		</div>
	</div>
</div>

<div id="testimonial" class="hidden-lg hidden-md">
	<div class="container">
	 	<div class="row">
	 		<div class="col-sm-10 col-sm-offset-1">
				<h2>&ldquo;ProductCamp is hands down the best place to learn from peers in your area.&rdquo;</h2>
				<p>-Darren Mauro, VP of Product Management @ CustomInk</p>
	 		</div>
		</div>
	</div>
</div>