<div id="parallax" data-speed="8" class="hidden-sm hidden-xs">
	<div class="container">
	 	<div class="row">
	 		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<h2>&ldquo;This was one of the most amazing and educational days in my career.&rdquo;</h2>
				<p>-Jason Moss, ProductCamp ATL Attendee</p>
	 		</div>
		</div>
	</div>
</div>

<div id="testimonial" class="hidden-lg hidden-md">
	<div class="container">
	 	<div class="row">
	 		<div class="col-md-12 col-sm-12">
				<h2>&ldquo;This was one of the most amazing and educational days in my career.&rdquo;</h2>
				<p>-Jason Moss, ProductCamp ATL Attendee</p>
	 		</div>
		</div>
	</div>
</div>

<!--https://twitter.com/mrjasonmoss/status/39072214871445504-->