<div id="what_is_pcamp">
	<div class="container">
		<div class="row">
    		<div class="col-lg-10 col-lg-offset-1 col-md-7 col-sm-12 col-xs-12">
    	    	<h2>What is ProductCamp?</h2>
    	    </div>
    	</div>
		<div class="row">
    		<div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-12 col-xs-12">

       			<h3>It's an Unconference</h3>
				<p>ProductCamp is entirely participant-driven. It has its heritage in <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a>, which is an international network of user-generated conferences, otherwise known as unconferences. They are open, workshop-style events, whose content is provided solely by participants.</p>
						
				<h3>It's Global</h3>
				<p>There are ProductCamps being hosted in dozens of major cities worldwide, from San Francisco to Bangalore. Now we're bringing one to Charlotte. </p>

				<h3>It's for Product People</h3>
    			<p>You don't need to have the title of Product Manager to come. If you play a role in shaping the success of a product, you can play a role in ProductCamp. From designers and developers to marketers and analysts, you're only required to share a passion for great products.  </p>
						
			</div>
	
			<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
				<img src="/images/pcamp-locations.jpg" class="img-rounded img-responsive">
				<p class="caption">Thousands of people came together last year for ProductCamp events in dozens of cities worldwide.</p>
			</div>
		</div>
    </div>
    <div class="gray">
	    <div class="container">  				
   			<div class="row">
   				<div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-12 col-xs-12">
   					<h2>How Does It Work?</h2>		
   				</div>
   			</div>

   			<div class="row">
   				<div class="col-lg-6 col-lg-offset-1 col-md-7 col-sm-12 col-xs-12">
					<h3>You decide the topics.</h3>
					<p>Everyone can pitch a session, whether it's a full-on presentation or simply leading a discussion on a topic 	near and dear to you. Then everyone votes and the most popular sessions make it on the schedule.</p>
						
					<h3>You pick your agenda.</h3>
					<p>Go to the talks that interest you. If you don't like a session, vote with your feet by switching to another. Or mingle in the hall and make new friends. ProductCamp is what you make of it. </p>
						
					<h3>You participate.</h3>
					<p>Everyone who attends actively participates in some manner: presenting, leading a discussion, sharing best practices, securing partnerships or volunteering with event logistics. </p>
				</div>
				
				<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
					<img src="/images/how-it-works.jpg" class="img-rounded img-responsive">
					<p class="caption">A participant at the voting board during <a href="http://productcamppdx.org/">ProductCamp Portland</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="sessions">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12  col-sm-12 col-xs-12">
				<h2>What types of sessions can we expect?</h2>
				<p>These aren’t your typical conference talks. We encourage sessions that are highly interactive, and view the session leader as a facilitator more than a presenter. There are 4 main types of sessions that you’ll see.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
				<h3>Roundtable</h3>
				<p>A session moderator will give a short intro to frame up a discussion topic, then open the floor for comments, questions and general discussion.</p>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
				<h3>Panel</h3>
				<p>Several panelists discuss the given topic, preferably from diverse perspectives. A moderator facilitates with prepared questions or questions from the audience.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
				<h3>Workshop</h3>
				<p>The audience is actively involved in an exercise or application of a technique or process which has been presented by the session leader.</p>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
				<h3>Presentation</h3>
				<p>One person will take the stage to share their insights. Slides are optional, and the audience is encouraged to ask questions as they arise instead of a Q&A at the end.</p>
			</div>
		</div>
	</div>
	<div class="gray">
		<div class="container" id="topics">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
					<h2>What types of topics can we expect?</h2>
					<p>Topics will run the full gamut from opportunity analysis and product strategy, to product development and marketing execution. We schedule sessions with this in mind, ensuring that there are distinct options to choose from in each time slot. Here are some example session topics taken from past ProductCamps.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
					<h3>Product Strategy</h3>
					<ul class="list-unstyled">
						<li>How to Build Roadmaps That Stick</li>
						<li>Sizing, Segmenting & Forecasting Markets</li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<h3>Product Marketing</h3>
					<ul class="list-unstyled">
						<li>Intro to Solution Marketing</li>
						<li>Aligning Sales & Marketing</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
					<h3>Analytics</h3>
					<ul class="list-unstyled">
						<li>Destroying the Competition with Superior Analytics</li>
						<li>How to Win Friends & Influence People (With Data)</li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<h3>Design & Customer Experience</h3>
					<ul class="list-unstyled">
						<li>Product & UX: Are the Roles Blurring?</li>
						<li>From Personas to Production</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12">
					<h3>Tools & Processes</h3>
					<ul class="list-unstyled">
						<li>Tools for Product Lifecycle Management</li>
						<li>Agile is Killing Me</li>
					</ul>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<h3>Teams & Careers</h3>
					<ul class="list-unstyled">
						<li>Product Manager Pathfinder</li>
						<li>Building & Growing a High-Performing Product Team</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
