<div id="what_is_pcamp">
    <div class="container">
    	<h2>What is ProductCamp?</h2>
		<div class="row">
    		<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
    
    			<h3>It's an Unconference</h3>
				<p>ProductCamp is entirely participant-driven. It has its heritage in <a href="http://en.wikipedia.org/wiki/BarCamp">BarCamp</a>, which is an international network of user-generated conferences, otherwise known as <a href="">unconferences</a>. They are open, workshop-style events, whose content is provided solely by participants.</p>
						
				<h3>It's Global</h3>
				<p>There are ProductCamps being hosted in dozens of major cities worldwide, from San Francisco to Bangalore. Now we're aiming to bring one to Charlotte. </p>

				<h3>It's for Product People</h3>
    			<p>You don't need to have the title of Product Manager to come. If you play a role in shaping the success of a product, you can play a role in ProductCamp. From designers and developers to marketers and analysts, you're only required to share a passion for great products.  </p>
						
						
			</div>
			<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
				<img src="/images/pcamp-locations.jpg" class="img-rounded img-responsive">
				<p class="caption">Thousands of people came together last year for ProductCamps in dozens of cities worldwide.</p>
			</div>
		</div>
    		   				
    	<h2>How Does It Work?</h2>
   		<div class="row">
   			<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
					
				<h3>You decide the topics.</h3>
				<p>Everyone can pitch a session, wheter it's a full-on presentation or simply leading a discussion on a topic near and dear to you. Then everyone votes and the most popular sessions make it on the schedule.</p>
					
				<h3>You pick your agenda.</h3>
				<p>Go to the talks that interest you. If you don't like a session, vote with your feet by switching to another. Or mingle in the hall and make new friends. ProductCamp is what you make of it. </p>
					
				<h3>You participate.</h3>
				<p>Everyone who attends actively participates in some manner: presenting, leading a discussion, sharing best practices, securing partnerships or volunteering with event logistics. </p>
			</div>
			<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
				<img src="/images/how-it-works.jpg" class="img-rounded img-responsive">
				<p class="caption">A participant at the voting board during ProductCamp Portland.</p>
			</div>
		</div>
	</div>
</div>