<div id="why">
	<div class="container">
	<h2>Why Should You Attend ProductCamp?</h2>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
				<h3>Learn From Your Peers</h3>
				<p>Fair warning: the collective knowledge on display at a typical ProductCamp can leave your head spinning. You won't find a better group to learn from.  </p>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
				<h3>Showcase Your Knowledge</h3>
				<p>Product people are often too busy doing the work to go out and talk about it. Now is your chance. Since sessions are open, the stage is yours.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
				<h3>Make Some Friends</h3>
				<p>It's not always easy to get out there and meet new people, even at conferences. ProductCamp is open, interactive and designed to foster new relationships. And there will probably be a happy hour. </p>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
				<h3>It's 100% Free</h3>
				<p>They say there's no such thing as a free lunch, and they're right &mdash; to earn your lunch at ProductCamp you have to show up and participate. But you won't pay a dime otherwise. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
				<h3>Find a Job</h3>
				<p>Looking for your next opportunity? Get your name out there, make some connections and learn about positions before they're even posted. It's like a career fair, except not awful.</p>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
				<h3>Fill a Job</h3>
				<p>Looking for that perfect fit for your organization? The odds are in your favor when you can get the top product minds all in the same room with you. Just don't send a recruiter that can't talk shop.</p>
			</div>
		</div>
	</div>
</div>